/*Styling for the main header*/
.headerLinks {
    background-color: white;
}
md-toolbar.md-accent {
    background-color: white !important;
}
.title {
    color: rebeccapurple;
}
.headerImg {
    padding-left: 14%;
}
md-toolbar:not(.md-menu-toolbar).md-accent .md-ink-ripple {
    color: #78909c;
}
md-nav-bar md-nav-ink-bar {
    background: #cfd8dc;
}
.icon {
    padding-top: 5%;
    color: #636362;
}