<!--This will be the main view. Will contain what will be seen when you visit the root page -->
<div ng-controller="mainViewController as view">
    <md-content>
        <div layout="row" layout-align="end start" flex="auto" class="headerLinks" layout-xs="column">

            <md-nav-bar md-selected-nav-item="currentNavItem">

                <i class="fa fa-facebook fa-lg icon" layout-padding aria-hidden="true"></i>
                <i class="fa fa-instagram fa-lg icon" layout-padding aria-hidden="true"></i>
                <i class="fa fa-twitter fa-lg icon" layout-padding aria-hidden="true"></i>

                <md-nav-item md-nav-click="" >Phi Gamma Delta IHQ</md-nav-item>
                <md-nav-item md-nav-click="">Donate</md-nav-item>
                <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
                <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
                <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
                -->
            </md-nav-bar>
        </div>
        <md-toolbar class="md-tall md-accent md-whiteframe-glow-z1">
            <!--<h2 class="md-toolbar-tools"></h2>-->
            <div layout="row" layout-align="start center" layout-align-sm flex="auto">
                <img ng-src="{{view.headerImg}}" class="headerImg">
            </div>

        </md-toolbar>
    </md-content>
</div>